body {
  background-color: rgb(226, 217, 217);
}

#store {
  width: 100%;
  background-color: rgb(230, 11, 11);
  color: #FFF;
  padding: 12px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: xx-large;
}

#cart-container {
  width: 100%;
  background-color: #000;
  color: #FFF;
  padding: 12px;
  display: flex;
}

.check-out {
  width: 100%;
}

.neo {
  width: 100%;
  background-color: rgb(230, 113, 132);
  color: rgb(89, 13, 99);
  padding: 12px;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: medium;
}

#cart-form {
  display: none;
}

#newsletter-frequency {
  display: none;
}
.item {
  width: 200px;
  background-color: #DDD;
  padding: 4px;
  float: left;
  margin: 4px;
}

.item img {
  width: 100%;
}

.item .name {
  font-size: 24px;
}

.item .price {
  margin-top: 8px;
  margin-bottom: 8px
}

.item .more-info {
  display: none;
}

.fashion {
  background-color: rgb(9, 167, 30);
  padding: 12px;
  margin: 12px;
  border: 23px solid black;
}

.furniture {
  background-color: rgb(197, 170, 15);
  padding: 12px;
  margin: 12px;
  border: 23px solid black;
}

.cars {
  background-color: rgb(24, 12, 189);
  padding: 12px;
  margin: 12px;
  border: 23px solid black;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: x-large;
}