
body {
  background-color: #fff;
  color: #666;
  font: italic bold monospace;
  }

.navbar{
  background-color: black !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  margin: 10px;
}

.nav-link{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover{
  color: red;
}
.nav-link:active{
color:  yellow;
}

.basket-module {
    margin-top: 80px;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: rgb(88, 6, 6);
}



.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}



.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}



.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}



.shop-name {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.name {
    margin-top: 120px;
    font: italic bold 30px monospace;
    margin-left: 30px;
}

.view {
    display: flex;
    vertical-align: top;
}

img {
    width: 100px;
}

.item {
    margin-top: 120px;
    /* width: 50%;  */
}

.main {
    background-color: pink;
    width: 40%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    height: viewport-length;
    top: 120px;
    right: 0;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 1000px;
    border-radius: 50px;
}

.description,
.prod-id,
.more-info,
.price,
.more-info-link,
select,
p,
button {
    text-align: start;
    margin: 10px;
    margin-left: 30px;
    
}

ul {
    
    list-style: none;
}

.pics {
    margin-bottom: 40px;
}

img:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

button {
    font-size: 20px;
}

button:hover {
    color: blue;
    background-color: pink;
}

p {
    margin-bottom: -15px;
}
.thumbnails {
    display: inline-flex;
}

.thumbnails li {
    margin-right: 10px;
}

.thumbnails li a {
    text-decoration: none;
    color: red;
}

.thumbnails li a:hover {
    color: yellow;
}

select {
    width: 50%;
    font-size: 20px
}

.main .more-info {
    display: none;;
}

.more-info-link {
    margin-left: 100px;
}

#items_table {
  height: 10px;
}

table {
  size: 10px;
}


.totals-value {
  /* float: right; */
  width: 43%;
  text-align: left;
}
.totals-item-total {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  border: 5px solid red;
  font-size: xx-large;
  position: fixed;
  bottom: 0;
  right: 0;
  color: red;
}

.checkout {
float: right;
border: 0;
margin-top: 20px;
padding: 6px 25px;
background-color: #6b6;
color: #fff;
font-size: 25px;
border-radius: 3px;
position: fixed;
right: 10;
}

.checkout:hover {
background-color: rgb(2, 36, 2);
}


